// -------------------------------------------
//   Modules
// -------------------------------------------

/* Horizontal navigation */
.horizontal-nav-list {
  @include clearfix();

  font-family: 'Bree Serif', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  li {
    margin: 0 15px;
    float: left;

    list-style: none;
    border-bottom: 3px solid transparent;

    color: $white-gray;
    font-size: 20px;

    @include transition(all .5s ease);

    &:hover {
      border-color: $soft-gray;
    }

    &.active {
      color: white;
      border-color: #5e5e5d;
    }

    a {
      display: inline-block;
      min-width: 50px;
      height: 40px;
      text-decoration: none;
      text-align: center;
    }
  }
}

/* Single post in list */
.post-preview {
  height: 150px;
  margin: 15px 0;
  position: relative;
  border-radius: 0.3em;
  @include transition(all .5s ease);

  &:hover {
    background: $red-black;
  }

  .post-symbol {
    display: inline-block;
    height: 150px;
    width: 150px;
  }

  .post-content {
    position: absolute;
    left: 190px;
    top: 15px;
    display: inline-block;
    color: $white-gray;
  }
}

/* Post symbol */
.post-symbol {
  text-align: center;
  color: white;

  @include tone(red, $red);
  @include tone(blue, $blue);
  @include tone(orange, $orange);
  @include tone(yellow, $yellow);
  @include tone(green, $green);
  @include tone(gray, $gray);

  .symbol {
    text-align: center;
    font-size: 100px;
  }

  .description {
    font-size: 20px;
  }
}

/* Profile image */
.profile-image {
  border-radius: 50%;
  width: 80px;
  height: auto;

  &:hover {
    -webkit-animation-name: shake;
    animation-name: shake;
  }
}

.post {
  font-family: 'Open Sans', sans-serif;
  color: $white-gray;
  font-size: 1.1em;
  line-height: 1.65em;
  h1 {
    font-size: 2.5em;
  }
  h2 {
    margin-top: 0.7em;
    margin-bottom: 0.7em;
    font-size: 1.9em;
  }
  h3 {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    font-size: 1.4em;
  }

}

code {
  background-color: $red-black;
  padding: 0.1em;
}
pre {
  background-color: $red-black;
  padding: 0.1em;
}

footer {
  padding: 1em 0 2.5em;
  font-size: 0.8em;
  color: $white-gray;
  line-height: 1.5em;
  margin: auto;
}
